.article-font {
  font-family: NYTImperial Regular;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.linkSpaceCosmos {
  height: 18px;
  width: 126px;
  font-size: 14.25px;
  font-family: NYTFranklin Light;
}

.button-search {
    border: none;
}
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}


.main-title {
  font-family: NYTCheltenham BoldItalic;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  line-height: 3rem;
  height: 98px;
  margin: 0px 651.500px 16px 651.500px;
}

.svg-img {
  height: 25px;
  width: 195px;
  position: relative;
  right: 150px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;  
}

/* Show the dropdown menu on hover */
.menu:hover .dropdown-content {display: block;}


.menu-search-word {
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 80px;
}
.menu-button:hover {
  background-color: rgb(180, 178, 178);
}
.menu-button {
    transform: scale(var(--ggs,1))
}
.menu-button,
.menu-button::after,
.menu-button::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor
}
.menu-button::after,
.menu-button::before {
    content: "";
    position: absolute;
    top: -6px
}
.menu-button::after {
    top: 6px
}
.menu-button {
    background-color: white;
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 34px;
    height: 33px;
}

.flex-nav{
  display: flex;
  
  justify-content: space-between;
  
}

.menu {
  position: relative;
  display: inline-block;
  
}

.search {
  flex: 1;
}

.logo {
  flex: 3;
}

.rigth-button1 {
    flex: 1;
}

.rigth-button2 {
    flex: 1;
}

