.article-font {
  font-family: 'Tinos', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.linkSpaceCosmos {
  height: 18px;
  width: 300px;
  font-size: 14.25px;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  position: relative;
  left: 30px;
  font-weight: 600;
}

.search-button {
  position: relative;
  max-height: 30px;
  min-width: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.main-title {
  font-family: 'Domine', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 600px;
  text-align: left;
  margin: 3rem auto 1rem auto;
}

.svg-img {
  height: 25px;
  width: 195px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.button-menu:hover + .dropdown-content {
  display: block;
}

.menu-search-word {
  display: flex;
  justify-content: space-around;
  max-height: 80px;
  max-width: 200px;
}

.button-menu {
  max-height: 22px;
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.button-menu:hover {
  background-color: rgb(180, 178, 178);
}

.flex-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.man-img {
  height: 100%;
  width: 100%;
}

.caption-img {
  height: 531px;
  width: 945px;
  margin: auto;
}

.captionimg-text {
  width: 954px;
  height: 80px;
  margin: auto;
}

.text {
  font-size: medium;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.article-size {
  width: 600px;
  margin: auto;
}

.article-size a:hover {
  color: black;
  text-decoration: none;
}

.article-size a:link {
  color: black;
  text-decoration: none;
}

.article-size a:visited {
  color: black;
  text-decoration: none;
}

.article-size a:active {
  color: black;
  text-decoration: none;
}

.article-font a:hover {
  color: black;
  text-decoration: none;
}

.article-font a:link {
  color: black;
  text-decoration: none;
}

.article-font a:visited {
  color: black;
  text-decoration: none;
}

.article-font a:active {
  color: black;
  text-decoration: none;
}

.img-text-mix {
  width: 1000px;
  height: 753px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.title-inflation {
  width: 1045px;
  margin: auto;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.small-paragraph {
  width: 1045px;
  margin: auto;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0;
}

.flex-mix {
  width: 945px;
  height: 576px;
  margin: auto;
}

.flex-inside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-image: url("/images/background-img-mix.png");
  background-size: contain;
}

.inline-image {
  width: 720px;
  margin: auto;
  position: relative;
  right: 70px;
}

.lineimg {
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  top: 60px;
}

.box span {
  display: inline-block;
  width: 230px;
}

.leftNrigthContainer {
  width: 1300px;
  height: 1425px;
  margin: auto;
  padding: 20px 60px 0;
  display: flex;
}

.leftNrigthContainer span img {
  height: 181px;
  width: 272px;
}

.div-editors {
  width: 852px;
  height: 325px;
}

.div-left {
  width: 852px;
  height: 616px;
}

.aside-right {
  width: 318px;
  height: 200px;
  font-family: 'Tinos', Arial, Helvetica, sans-serif;
  font-style: italic;
}

aside {
  width: 30%;
  position: absolute;
  top: 1400px;
  right: 40px;
  z-index: -5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Tinos', Arial, Helvetica, sans-serif;
  font-style: italic;
}

.picks {
  font-family: 'Tinos', Arial, Helvetica, sans-serif;
  font-style: italic;
}


.top-subscribe {
  background-color: #3275a8;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.top-login {
  background-color: #3275a8;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.floatbox {
  display: flex;
  padding-top: 20px;
}

.column1 {
  flex: 70%;
}

.column1button {
  flex: 70%;
  background-color: #3275a8;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.column2 {
  display: flex;
  flex: 30%;
  justify-content: space-around;
}

.column2bottom {
  display: flex;
  flex: 30%;
  justify-content: space-around;
}
