@font-face {
    font-family: 'nyt-franklin';
    src: url('/fonts/family/franklin/franklin-italic-300.ttf') format('truetype');
    font-style: italic;
    font-weight: 300;
    font-display: swap;
  }
  