/* NYT Franklin*/
@font-face {
<<<<<<< Updated upstream
  font-family: 'NYTFranklin';
=======
  font-family: 'nyt-franklin';
>>>>>>> Stashed changes
  src: url('/fonts/family/franklin/franklin-italic-300.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
<<<<<<< Updated upstream
}
  
@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-italic-500.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-italic-600.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-italic-700.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-italic-800.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-italic-900.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-800.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklin';
  src: url('/fonts/family/franklin/franklin-normal-900.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklincword';
  src: url('/fonts/family/franklin-cword/franklin-cword-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklinsmall';
  src: url('/fonts/family/franklin-small/franklin-small-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTFranklinsmall';
  src: url('/fonts/family/franklin-small/franklin-small-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* NYT Imperial*/
@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-italic-500.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-italic-600.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-italic-700.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-normal-600.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'NYTImperial';
  src: url('/fonts/family/imperial/imperial-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* NYT cheltenham*/
@font-face {
  font-family: 'NYTCheltenhamCond';
  src: url('/fonts/cheltenham/condnormal/cheltenham-cond-normal-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenhamCond';
  src: url('/fonts/cheltenham/condnormal/cheltenham-cond-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenhamCond';
  src: url('/fonts/cheltenham/condnormal/cheltenham-cond-normal700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-200.ttf') format('truetype');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-300.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-400.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-500.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-700.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-italic-800.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenham';
  src: url('/fonts/cheltenham/cheltenham-scaps-normal-300.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenhamWide';
  src: url('/fonts/cheltenham/cheltenham-wide-normal-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenhamWide';
  src: url('/fonts/cheltenham/cheltenham-wide-italic-400.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NYTCheltenhamCond';
  src: url('/fonts/cheltenham/cheltenham-xcond-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
=======
  }
  
>>>>>>> Stashed changes
